# Title, decription, tagline and URL for your site
# Can be used in your theme by calling 'site.title' and so on
title:
description: Set The Pace
tagline:
url: http://coletownsend.github.io/Set-The-Pace/
baseurl: http://coletownsend.github.io/Set-The-Pace/

# Used so Jekyll outputs the site correctly so Gulp can do what it wants
source: src
destination: serve

sass:
    sass_dir: assets/scss
    style: :compressed

# Same as the title etc for your site but can instead be
# called by using 'site.author.name' and so on
author:
  name: Tory Scholz
  email:
  bio:
  twitter:

prose:
  ignore: ['.*','.jshintrc', '.gitignore', '.bowerrc','.gitattributes','Gemfile','Gemfile.lock','bower.json','*.txt','_includes','assets','gulpfile.js','*.xml','_layouts','.editorconfig', '_config.yml', '*.json']
  siteurl: 'http://coletownsend.github.io/set-the-pace'
  media: 'assets/images'
  metadata:
    _posts:
      - name: "title"
        field:
          element: "text"
          label: "title"
      - name: "layout"
        field:
          element: "hidden"
          value: "default"
      - name: "published"
        field:
          element: "checkbox"
          label: "Published"
          value: true
      - name: "tags"
        field:
          element: "multiselect"
          label: "Add Tags"
          placeholder: "Choose Tags"
          options:
            - name: "Journal"
              value: "journal"
            - name: "Testimonial"
              value: "testimonial"
            - name: "Race Results"
              value: "race-result"
      - name: "testimonial"
        field:
          element: "text"
          label: "Name of Testifier"
          placeholder: "Only if tagged 'testimonial'"

# Disables the more accurate related posts for faster generating of the site
lsi: false
# Only make the last 10 posts so generating isn't slow
limit_posts: 10

# Permalink structure and pagination options
relative_permalinks: true
permalink: pretty
paginate: 10000

# Markdown library
markdown: redcarpet
# Markdown library options
redcarpet:
  extensions: ['no_intra_emphasis', 'tables', 'fenced_code_blocks', 'autolink', 'smart',
              'strikethrough', 'superscript', 'underline', 'highlight', 'footnotes']
highlighter: pygments
