<nav role="center wi-100">
  <ul class="list">
    <li class="dib mrm">
      <a class="link link--white dib ttu white fs5" href="{{site.baseurl}}/" title="Home">Home</a>
    </li>
    <li class="dib mrm">
      <a class="link link--white dib ttu white fs5" href="{{site.baseurl}}/party-on" title="Home">Party On</a>
    </li
    <li class="dib">
      <a class="link link--white dib ttu white fs5"  href="{{site.baseurl}}/about/" title="About">About</a>
    </li>
    <li class="dib mlm">
      <a class="link link--white dib ttu white fs5" href="{{site.baseurl}}/journal/" title="Archives">Journal</a>
    </li>
  </ul>
</nav>
