/*

   LINKS

*/

.link {
  text-decoration: none;
  transition: color .15s ease-in;
}

.link--white, .link--white:link {
  color: #fff !important;
  transition: all .15s ease-in-out;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.link--white:visited, .link--white:hover, .link--white:active  {
  color: #f2f2f2 !important;
  transition: all .15s ease-in-out;
}
.link--white:hover {
  text-shadow: 0 1px 4px rgba(255, 255, 255, 0.3);
  transition: all .15s ease-in-out;
}

.link:link,
.link:visited {
  color: #2D243B;
  transition: color .15s ease-in;
}
.link:hover   {
  color: #999999;
  transition: color .15s ease-in;
}
.link:active  {
  color: #C4E3E0;
  transition: color .15s ease-in;
}
.link:focus   {
  color: #2D243B;
  transition: color .15s ease-in;
}

.underline             { text-decoration: underline; }
.underline-hover:hover { text-decoration: underline; }
