<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
<body>
  {% include _header.html %}
  {% include _quote.html %}
  <div class="mw7 center f3 pxl cf post">
    {{ page.content | markdownify }}
    <br>
    {% if site.tags.testimonial %}
    {% for post in site.tags.testimonial limit:1 %}
    <h6>{{ post.testimonial }} Says&colon;</h6>
      {{ post.content }}
    {% endfor %}
    {% endif %}
    <br>
    <div class="mtl mbl">
      <a href="{{site.url}}/party-on/" class="btn btn--blue-border btn--full-m btn--m pam ">Have a pace party</a>
    </div>
    <br>
  </div>
  {% include _footer.html %}
</body>
</html>
