<!DOCTYPE html>
<html lang="en">
  {% include _head.html %}
<body>
  {% include _header.html %}
  {% include _quote.html %}
  <div class="mw7 center f3 pxl cf post">
    {{ page.content | markdownify}}
    <br>
    {% if post in site.tags.testimonial %}
    <h6>Other Runners Say&colon;</h6>
    {% for post in site.tags.testimonial limit: 1 %}
      {{ post.content }} — {{ post.testimonial }}
    {% endfor %}
    {% endif %}
    <br>
    <div class="mtl mbl">
      <a href="{{site.url}}/party-on/" class="btn btn--blue-border btn--full-m btn--m pam ">Have a pace party</a>
    </div>
  </div>
  {% include _footer.html %}
</body>
</html>
